#showAfspraakmaken > #calendarContainer  {
    padding: 80px;
}

.timeTot {
    margin-left: 5px;
    margin-right: 5px;
}

.container70{
    width: 70%;
    margin: auto;

}
body, header, footer {
    min-width: 700px;
}

.container90{
    width: 90%;
    margin: auto;
}

.containersISP {
    padding: 5px !important;
}

#carouselWarnings {
    background-color: #f5f5f5;
    text-align: center;
}

#klassenContainer {
    background-color: #f5f5f5;
    padding: 5px;
    height: 270px;
}

#klaskeuze2Container {
}

#klaskeuze1Container {
}

#fasekeuzeContainer {
    text-align: center;
}

#vakkenkeuzeContainer {
    background-color: #f5f5f5;
}

#semesterkeuzeContainer {
    background-color: #007bff;
    text-align: center;
    padding-top: 75px;
    color: white;
}

.ScrollParent {
    height: 270px;
}

.ScrollKlasParent {
    height: 360px;
}

.ScrollChild {
    display: block !important;
    overflow-y: scroll !important;
}

#list-tab {
    height: 100%;
}

.list-group-item {
 height: 100%;
}

.paddingR20 {
    padding-right: 20px !important;
}

.alertPad {
    margin-bottom: 0;
}

.indicatorsPad {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    bottom: 5px;
}

#klas1Tekst, #klas2Tekst {
    height: 300px;
}

#klas1Titel, #klas2Titel {
    height: 50px;
    margin-bottom: 0px;
    padding: 12px;
}