#showAfspraakmaken > #calendarContainer  {
    padding: 80px;
}

.timeTot {
    margin-left: 5px;
    margin-right: 5px;
}

.container70{
    width: 70%;
    margin: auto;

}
body, header, footer {
    min-width: 700px;
}

.container90{
    width: 90%;
    margin: auto;
}

.containersISP {
    padding: 5px !important;
}

#carouselWarnings {
    background-color: #f5f5f5;
    text-align: center;
}

#klassenContainer {
    background-color: #f5f5f5;
    padding: 5px;
}

#klaskeuze2Container {
    background-color: #f5f5f5;
    text-align: center;
}

#klaskeuze1Container {
    background-color: #f5f5f5;
    text-align: center;
}

#fasekeuzeContainer {
    background-color: #f5f5f5;
    text-align: center;
}

#vakkenkeuzeContainer {
    background-color: #f5f5f5;
    overflow-y: scroll;
    overflow-x: hidden;
}

#semesterkeuzeContainer {
    background-color: #f5f5f5;
    text-align: center;
}