.timeTot {
    margin-left: 5px;
    margin-right: 5px;
}

.container70{
    width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;

}
body, header, footer {
    min-width: 700px;
}

.container90{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 50px;
    margin: auto
}

.containersISP {
    padding: 5px !important;
}

#carouselWarnings {
    text-align: center;
}

#klassenContainer {
    height: 100%
}

#klaskeuze2Container {
}

#klaskeuze1Container {
}

#fasekeuzeContainer {
    text-align: center;
}

#vakkenkeuzeContainer {

}

#semesterkeuzeContainer {
    background-color: #007bff;
    text-align: center;
    padding-top: 75px;
    color: white;
}

.ScrollParent {
    height: 270px;
}

.ScrollKlasParent {
    height: 360px;
}

.ScrollChild {
    display: block !important;
    overflow-y: scroll !important;
}

#list-tab {
    height: 100%;
}

.list-group-item {
 height: 100%;
}

.paddingR20 {
    padding-right: 20px !important;
}

.alertPad {
    margin-bottom: 0;
}

.indicatorsPad {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    bottom: 5px;
}

#klas1Tekst, #klas2Tekst {
    height: 300px;
}

#klas1Titel, #klas2Titel {
    height: 50px;
    margin-bottom: 0px;
    padding: 12px;
}

.padding0 {
    padding: 0 !important;
}

.vakButton {
    border-radius: 0 !important;
    cursor: pointer;
}

#klassenLijstFaseContainer {
    display: none;
}

#backButtonFase {
    background-color: #007bff;
    text-align: center;
    padding-top: 123px;
    padding-left: 0; !important;
    padding-right: 0; !important;
    color: white;
    display: none;
    border-radius: 4px 0 0 4px;
    width: 30px;
    cursor:pointer;
}

.rowTabList {
    margin: 0;
    border-radius: 4px 0 0 4px;
}

#list-fase1-list {
    border-radius: 4px 0 0 0;
}

#list-fase3-list {
    border-radius: 0 0 0 4px;
}

.infoAlert {
    padding: 15px;
    margin: 15px 0 5px 0;
    width: 100%;
}

.infoAlert > .col-1 {
    margin: auto;
}

.infoAlert > .col {
    margin: auto;
}

.infoAlert > .col > p {
    margin-bottom: 0 ;
}

/* SPINNERS */
.lds-ring {
    display: none;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #007bff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #007bff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#vakkenList {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.activeButton {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.activeButton:hover {
    background-color: #0069d9 !important;
    color: white;
}

.klasbutton {
    border-radius: 0 !important;
    cursor: pointer;
}

.klasbutton > td {
    padding: 5px;
}

.klasVakbutton {
    cursor: pointer;
}

.helpicon {
    font-size:32px;
    float:right;
    color:#212529;
}

.helpicon:hover {
    cursor: pointer;
}

.insprong {
    padding-left: 1.2em;
}

.helptitel {
    margin-bottom: 0px;
    font-weight: 500;
}

.activeKlas {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.activeKlas:hover {
    background-color: #0069d9 !important;
    color: white;
}

.carousel-caption {
    color: black;
    position: relative;
    left: auto;
    right: auto;
}

#vakkenList {
    height: 270px;
}

.faselist {
    height: 270px;
}

#klassenLijstFaseContainer {
    height: 270px;
}

#roosterConfirm {
    margin: 20px -15px 20px -15px;
}

#roosterConfirm2 {
    margin: 20px -15px 20px -15px;
}

.confirmButton {
    background-color: #007bff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    margin-bottom: 50px;
}

#confirmButtons > .col {
    padding: 0;
}

#ispConfirm {
    padding-left: 5px !important;
}

#ispCancel {
    padding-right: 5px !important;
}

.disabledKlas {
    color: lightgrey;
    pointer-events: none;
}

.alertIcon {
    margin-right: 5px;
}

#openWalk {
    margin: 10px 10px 5px 10px;
}

#aanuit {
    margin-top: 5px;
}

#klasRing, #vakRing {
    margin: auto;
    top: 30%;
}

.backButton {
    display: inline-block;
    max-width: 200px;
    margin-top: 10px;
}

#docentIdForm {
    margin-bottom: 50px;
    margin-top: 10px;

}

#resultaat > .row > .col-6:nth-child(1) {
    padding-right: 30px;
}

#resultaat > .row > .col-6:nth-child(2) {
    padding-left: 30px;
}

#resultaat > .row {
    margin-bottom: 20px;
}

#resultaat > h3 {
    background-color: #007bff;
    color: white;
    padding: 7px;
    margin-bottom: 15px;
}

.titlesBlue {
    background-color: #007bff;
    color: white;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 300px;
}

.menuButton {
    margin-top: 5px;
    margin-bottom: 5px;
}

.formMenu {
    text-align: center;
}

.loginButtons {
    margin: 0;
    max-width: 300px;
}

<<<<<<< HEAD
.footerfix-mb120 {
    margin-bottom: 120px;
=======
.ISPDetailsMargin {
    margin-top: 5px;
    margin-bottom: 10px;
}

.marginButton {
    margin-top: 10px;
}

.marginBottom {
    margin-bottom: 10px;
>>>>>>> ada7598255c1bdf44ce36a8ac45946d29a311ca7
}